$my-trips-colors: (
	dark-slate: #1f222a,
	pure-white: #fff,
	forest-green: #2e7d32,
	goldenrod: #ffc107,
	sunburst: #ffab00,
	forest-green-darker: #009900,
	vibrant-blue: #007bff,
	light-gray: #ccc,
	charcoal: #1e2127,
	steel-gray: #45494f,
	ocean-blue: #3498db,
	cerulean-blue: #2980b9,
	graphite: #36393f,
	lush-green: #256e28,
	sapphire: #1565c0,
	fiery-red: #f44336,
	brick-red: #d32f2f,
);
