<header>
  <h1>Minhas viagens</h1>
  <nav>
    <a href="/new-place">Adicionar viagem</a>
    <a href="/places">Minhas viagens</a>
    <a href="/favorites">Viagens favoritas</a>
    <a href="/logout">Sair</a>
  </nav>
</header>
