---
import Layout from "../../layouts/Layout.astro";
import FavoriteList from "../_components/FavoriteList.svelte";
import { getDataApi } from "../../service/api";
import type { UserData } from "../_components/@types";

let locations: UserData[] = [],
  hasFavorites = false;

const getInfo = async () => {
  return await getDataApi();
};

const responseGetInfo = await getInfo();

if (responseGetInfo?.data) {
  const favoriteList = responseGetInfo.data.filter(
    (element: UserData) => element.favorite
  );

  locations = favoriteList;
  hasFavorites = locations.some((location) => location.favorite);
}
---

<Layout title="Meus favoritos">
  <h2>Lista de Locais Favoritos:</h2>
  <FavoriteList {locations} {hasFavorites} client:load />
</Layout>
