---
import Layout from "../../layouts/Layout.astro";
import FavoriteList from "../_components/FavoriteList.svelte";
---

<Layout title="Meus favoritos">
  <h2>Lista de Locais Favoritos:</h2>
  <FavoriteList client:load />
</Layout>
