---
import Layout from "../../layouts/Layout.astro";
import PlaceList from "../_components/PlaceList.svelte";
---

<Layout title="Meus lugares">
  <h2>Lista de Locais que gostei de visitar:</h2>
  <PlaceList client:load />
</Layout>
