---
import Layout from '../../layouts/Layout.astro';
import jwt from '../../service/jwt';
import AddNewPlace from '../_components/AddNewPlace.svelte';

const authorization = Astro.cookies.get('authorization')?.value as string;
const token = jwt(authorization);

if (!token) {
	return Astro.redirect('/');
}
---

<Layout title='Novo local' logged>
	<h2>Adicione um local que gostou de visitar!</h2>
	<AddNewPlace client:load token={authorization} />
</Layout>
