---
import Layout from "../layouts/Layout.astro";
import AddNewPlace from "./_components/AddNewPlace.svelte";
---

<Layout title="My places">
  <h2>Adicione um local que gostou de visitar!</h2>
  <AddNewPlace client:load />
</Layout>
