---
import Layout from "../layouts/Layout.astro";
import AddNewPlace from "./_components/AddNewPlace.svelte";
---

<Layout title="My Favorites Things">
  <main>
    <AddNewPlace client:load />
  </main>
</Layout>
